4thYear/AdvancedComputationalLinguistics/Assignment2/.vscode
4thYear/InternetApplications/Assignment1/node_modules
4thYear/InternetApplications/Lab2/node_modules
4thYear/MachineLearning/Assignment4/cifar.model
4thYear/MachineLearning/ML-Group-Project-80
4thYear/MachineLearning/FinalAssignment/data/
4thYear/MachineLearning/extra/