4thYear/AdvancedComputationalLinguistics/Assignment2/.vscode
4thYear/InternetApplications/Assignment1/node_modules
4thYear/MachineLearning/Assignment4/cifar.model
4thYear/InternetApplications/Lab2/node_modules
