<html>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <body>
        <div id="app">
            <button v-on:click="createDatabase" v-if="noDatabase">Create Database</button>
            <button v-on:click="queryDatabase" v-if="database">Query Database</button>
            <button v-on:click="destroyDatabase" v-if="database">Destroy Database</button>
            <br>
            <input type="text" v-model.lazy="movie" placeholder="Movie Name" v-if="database">
            <input type="text" v-model.lazy="year" placeholder="Year" v-if="database">
            <input type="text" v-model.lazy="rating" placeholder="Rating" v-if="database">
            <br>
            <div v-if="data">
                <button v-on:click="sortByRating">Sort by Rating</button>
                <button v-on:click="sortByRanking">Sort by Rank</button>
                <table>
                    <tr>
                        <th>Movie</th>
                        <th>Year of Release</th>
                        <th>Rating</th>
                        <th>Rank</th>
                    </tr>
                    <tr v-for="m in movies">
                        <td>{{ m.title  }}</td>
                        <td>{{ m.year   }}</td>
                        <td>{{ m.rating }}</td>
                        <td>{{ m.rank   }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                noDatabase: true,
                database: false,
                data: false,
                movies: [],
                movie: "",
                year: "",
                rating: "",
                sortedByRatingUp: false,
                sortedByRankingUp: false,
            },
            methods: {
                createDatabase: function() {
                    fetch("/create")
                    .then(function(res) {
                        return res.json()
                    })
                    .then(function(data) {
                        console.log(data.message);
                        if(data.message == "success") {
                            app.noDatabase = false;
                            app.database = true;
                        }
                    })
                },

                queryDatabase: function() {
                    var options = {
                        method: 'GET',
                        headers: {
                            'Movie': app.movie,
                            'Year': app.year,
                            'Rating': app.rating,
                        }
                    };
                    fetch("/query", options)
                    .then(function(res) { return res.json(); })
                    .then(function(data) {
                        if(data.message.includes("Failed")) {
                            
                        } else {
                            app.movies = data.data;
                            app.data = true;
                        }
                    });
                },

                destroyDatabase: function() {
                    fetch("/destroy")
                    .then("Destroyed")
                    .catch("Caught an error");
                    app.noDatabase = true;
                    app.database = false;
                    app.data = false;
                    app.movie = "";
                    app.year = "";
                    app.rating = "";
                },

                sortByRating: function() {
                    if(app.sortedByRatingUp) {
                        app.movies = app.movies.sort(function(a, b) {return a.rating - b.rating});
                        app.sortedByRatingUp = false;
                        app.sortedByRankUp = false;
                    } else {
                        app.movies = app.movies.sort(function(a, b) {return b.rating - a.rating});
                        app.sortedByRatingUp = true;
                    }
                },

                sortByRanking: function() {
                    if(app.sortedByRankUp) {
                        app.movies = app.movies.sort(function(a, b) {return b.rank - a.rank});
                        app.sortedByRankUp = false;
                        app.sortedByRatingUp = false;
                    } else {
                        app.movies = app.movies.sort(function(a, b) {return a.rank - b.rank});
                        app.sortedByRankUp = true;
                    }
                }
            }
        })
    </script>
</html>